

.ButtonMenu{
    -fx-background-color: #A8B8A0;
    -fx-transition: background-color 0.5s ease-in-out, -fx-text-fill 0.5s ease-in-out;
    -fx-background-radius : 15px;
    -fx-border-radius: 15px;

}
.ButtonMenu:hover {
    -fx-background-color: #B2C8B2;
}



#FileExplorer{
    -fx-background-color:#425452;
}

#ToolBar{
    -fx-background-color: #E8E8E8;     /* Background color of the entire TextArea */


}

#EditorTabContainer{
    -fx-background-color :  #425452;
    -fx-border-color: #E8E8E8;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;

}

#Console{
    -fx-control-inner-background: #A8B8A0; /* Background color behind the text */
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: top-left;


}
.background{
    -fx-background-color: #E8E8E8;     /* Background color of the entire TextArea */

}

.lineNumberArea{
    -fx-control-inner-background:  #A8B8A0;
    -fx-border-color: #E8E8E8;
    -fx-padding: 10px;
    -fx-border-width: 5px;
    -fx-font-size: 15;
    -fx-text-fill: white;

}

}

.writeArea{
    -fx-control-inner-background:  #E8E8E8;  /* Background color behind the text */
    -fx-text-fill: black;
    -fx-font-size: 15;


}